body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

.konteyner {
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: center;
    background-color: #FFED73;
    padding: 5px;
    margin-top: 5px;
    width: 900px;
}

header {
    background-color: #F23D70;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #D636C9;
    padding: 10px;
}

.link-header {
    text-decoration: none;
    color: black;
    font-size: 30px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

li {
    font-size: 20px;
    margin-bottom: 16px;
}

h1 {
    border: 10px dotted pink;
    border-radius: 30px;
    width: 500px;
    text-align: center;
    
}

li:hover {
    color: #F23D70;
}

.me {
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.me_info {
    width: 300px;
}

.me_img {
    width: 200px;
    margin-top: 100px;
}

.foto_me {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.noyt {
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    border: 30px dotted #D636C9;
}

.me_foto_img {
    border: 30px dotted #de47d1;
}

.sty_text {
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.link-nav {
    margin-right: 40px;
    text-decoration: none;
    font-size: 25px;
    background-color: #D636C9;
    padding: 5px;
    color: white;
    border-radius: 10px;
}


.link-nav:hover {
    background-color: white;
    color: #D636C9;
}

.yandex {
    border: 20px dotted #D636C9;
}

.telega {
    border: 1px solid black;
    border-radius: 100px;
    margin-left: 20px;
}
